:root {
  --nero: #262626;
  --nero2: #595959;
  --black: #000000;
  --silver: #bfbfbf;
  --background-white: #ffffff;
  --background-contact-color: #f5f5f5;
  --body-background: #e5e5e5;
  --border-color: #e0e0e0;
  --blue: #2962ff;
  --border: rgba(0, 0, 0, 0.12);
  --error-color: #f5222d;
}

body {
  margin: 0;
  padding: 0;
  background: var(--body-background);
}

h2 {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 28px;
  color: var(--nero);
  padding: 14px 0 14px 10px;
  margin: 0;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: var(--border);
}
h3{
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  color: var(--nero2);
  padding: 14px 0 14px 10px;
  margin: 0;
}
h4{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  padding: 15px 0 14px 10px;
  margin: 0;
}
form {
  width: 92%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 18px 0;
}

label{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: var(--nero2);
}

a {
  padding: 4px;
  text-decoration: none;
  color: var(--blue);
  margin: 0 18px 0 0;
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}

a:active {
  color: var(--blue);
}

.content,
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header,
section,
footer {
  width: 365px;
  padding: 0 10px;
}
select{
  width: 68%;
  padding: 8px 0;
  border-width: 0 0 1px 0;
  border-color: var(--silver);
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 20px;
  color: var(--silver);
  margin: 0 0 27px 0;
  outline: none;
  background: var(--background-white);
}
