:root {
  --nero: #262626;
  --black: #000000;
  --silver: #bfbfbf;
  --background-white: #ffffff;
  --background-contact-color: #f5f5f5;
  --body-background: #e5e5e5;
  --border-color: #e0e0e0;
  --blue: #2962ff;
  --border: rgba(0, 0, 0, 0.12);
  --error-color: #f5222d;
}

body {
  margin: 0;
  padding: 0;
  background: var(--body-background);
}

.content,
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header,
section,
footer {
  width: 365px;
  padding: 0 10px;
}
