header {
  margin-top: 40px;
}

section {
  min-height: 560px;
}

section,
header,
footer {
  background-color: var(--background-white);
}

.title {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 28px;
  color: var(--nero);
  padding: 14px 0 14px 10px;
  margin: 0;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: var(--border);
}
form {
  width: 92%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 18px 0;
}

.inputs input {
  width: 68%;
  padding: 8px 0;
  border-width: 0 0 1px 0;
  border-color: var(--silver);
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 20px;
  color: var(--nero);
  margin: 0 0 27px 0;
  outline: none;
  background: var(--background-white);
}

.inputs input::placeholder {
  color: var(--silver);
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 4px 0;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: var(--border);
}

.options a {
  padding: 4px;
  text-decoration: none;
  color: var(--blue);
  margin: 0 18px 0 0;
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}

.options a:active {
  color: var(--blue);
}
